h1{
  text-align: center;
}

.sidemenu{
  color: blue;
  float: left;
}

body{
  background-image: url("../img/background.jpg");
}

.rightmenu{
  color: blue;
  float: right;


}
.centerimage{
  width:540px; /* you can use % */
  height: auto;
  margin-left: auto;
  margin-right: auto;

}
